<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Bite & Bloom</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Link CSS File -->
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="../static/about.css">
    <link rel="stylesheet" href="../static/contact.css">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    
</head>
<body>
    <!-- Header Section -->
    <header>
        <img src="../static/Images/logo.png" class="logo">

        <nav class="navbar">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="menu.html">Menu</i></a></li>
            <li><a href="review.html">Review</a></li>
            <li><a href="contact.html">Contact</a></li>
        </nav>
    </header>
    <!-- Header Section end-->

    <!-- Main section start -->
     <main>
        <div class="about-container1 colom-flex-box">
        <div class="section1">
            <h3>Welcome to </h3>
            <h1>Bite and Bloom</h1>
            <hr class="horizontal-line">
            <p>At Bite and Bloom, we believe in the simple joys of sharing good food with great people. Our mission is to create a space where families can come together to enjoy delicious meals that are both affordable and unforgettable.</p>
            <img src="../static/Images/about-photo-1.jpeg" alt="">
        </div></div>

        <div class="container2 row-flex-box">
            <div class="left-box">
                <img class="mySlides" src="../static/Images/about-p1.jpeg" >
                <img class="mySlides" src="../static/Images/about-p2.jpeg" >
                <img class="mySlides" src="../static/Images/about-p3.jpeg" >
                <img class="mySlides" src="../static/Images/about-p4.jpeg" >
            </div>
            <div class="right-box colom-flex-box">
                <h1>Our Story</h1>
                <hr class="horizontal-line">
                <p>Our journey started around our own family table, where countless meals were shared, and countless memories were made. We realized that good food has the power to bring people together, to create connections, and to nourish both body and soul. It was this realization that sparked the idea for Bite and Bloom – a family restaurant dedicated to serving meals that are as affordable as they are delightful.</p>
            </div>
        </div>

        <div class="container3 row-flex-box">

            <article class="counter">
                <span class="count" data-count="56">0</span>
                <p>Dishes menu</p>
            </article>

            <article class="counter">
                <span class="count" data-count="4800">0</span>
                <p>Happy Customer</p>
            </article>

            <article class="counter">
                <span class="count" data-count="4">0</span>
                <p>Location</p>
            </article>
        </div>

        <div class="container4 row-flex-box">
            <div class="right-box2 colom-flex-box">
                <h1>Meet <span>Our</span> Team </h1>
                <hr class="horizontal-line">
                <p>At Bite and Bloom, our team is the backbone of everything we do. Led by our visionary founder, [Founder’s Name], who dreamed of creating a family-friendly restaurant with fair pricing and exceptional quality, each member of our team plays a vital role in bringing that vision to life.</p>
                <p>Our culinary experiences are crafted by our talented Head Chef, [Chef’s Name], whose passion for fresh ingredients and innovative dishes ensures that every meal is a delightful experience. Supporting the kitchen, our Pastry Chef, [Staff Member’s Name], adds a touch of sweetness to our menu with exquisite desserts that our guests love.</p>
                <p>[Manager’s Name], our General Manager, ensures that every aspect of your visit runs smoothly, while [Staff Member’s Name], our Front-of-House Lead, greets every guest with warmth and a smile, making you feel right at home.</p>
            </div>

            <div class="left-box">
                <img src="../static/Images/our team.jpg" width="400px" height="400px">
            </div>
        </div>

        <div class="orderNow-needHelp">
            <div class="sub-container">
                <div class="left-box-odernow">
                    <div class="call icon"><i class="fa-solid fa-phone"></i></div>
                    <div class="content">
                    <h6>ORDER NOW</h6>
                    <span>+91 12345 67891 > </span></div>
                </div>

                <div class="right-box-needhelp">
                    <div class="mail icon"><i class="fa-solid fa-envelope"></i></div>
                    <div class="content">
                    <h6>NEED SUPPORT</h6>
                    <a href="contact.html"><span> Ready To Help > </span></a></div>
                </div>
            </div>
        </div>
     </main>
    <!-- Main Section end-->


    <!-- Footer Section Strat -->
    <footer>
        <div class="footer-content">
            <div class="social-icons">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
                <a href=""><i class="fa-brands fa-google-plus"></i></a>
            </div>
            <div class="footer-items">
                <div class="item1">
                    <h2>Bite and Bloom </h2>
                    <p class="mb-6">Where Taste Meets Tradition</p> 
                </div>
                <div class="item2">
                    <h3>Quick Links</h3>
                    <nav>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="menu.html">Menu</i></a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="review.html">Review</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                    </nav>
                </div>
                <div class="item3">
                    <h3>Get in Touch</h3>
                    <i class="fa-solid fa-phone"><pre>  +1-234-567-8901</pre></i><br>
                    <i class="fa-solid fa-envelope"><pre>  support@biteandbloom.com</pre></i><br>
                    <h3>Visit Us</h3>
                    <i class="fa-solid fa-location-dot"><p> 398,Ramkrishnapur Road, Barasat, North 24 Parganas, Kolkata - 700124</p></i>
                </div>
                <div class="item4">
                    <h3>Opening</h3>
                    <h4>Monday - Friday <br>
                    7:30AM - 10:00PM <br><br>
                    Saturday - Sunday <br>
                    7:30AM - 11:00PM
                    </h4>
                </div>
                <div class="item5">
                    <h3>Newsletter</h3>
                    <p>Join our newsletter and be the first to know about special offers, new dishes, and latest news from Bite and Bloom and members-only offers.</p>
                    <div class="newsletter-input">
                    <input type="email" id="newsletter-email" name="newsletteremail" placeholder="Your email">
                    <input type="submit" name="Join">
                    </div>

                </div>
            </div>
        </div>
        <div class="orange-section">
            <div class="left">
                <i class="fa-regular fa-copyright"><p>  2024 Bite and Blom.All rights reserved </p><h2>Designed by: </h2> <p>Arpan Samanta</p></i>
            </div>
            <div class="right">
                <h3>We Accept</h3>
                <img src="../static/Images/Visa-Logo.png" alt="">
                <img src="../static/Images/Mastercard-Logo.png" alt="">
                <img src="../static/Images/Rupay-Logo.png" alt="">
            </div>
        </div>
    </footer>
    <!--  Footer Section End -->

    <script src="../static/home.js"></script>
</body>
</html>