<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Bite & Bloom</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Link CSS File -->
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="../static/contact.css">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <!-- Header Section -->
    <header>
        <img src="../static/Images/logo.png" class="logo">

        <nav class="navbar">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="menu.html">Menu</i></a></li>
            <li><a href="review.html">Review</a></li>
            <li><a href="contact.html">Contact</a></li>
        </nav>
    </header>
    <!-- Header Section end-->

    <!-- Main Section start -->
    <main>
        <div class="container1">
            <div class="contact-page-box box1">
                <h1>Contact Us</h1>
                <h2>Bite and Bloom</h2>
                <span><i class="fa-solid fa-phone-volume"></i> Tel: +91 12345 67891 </span>
                <p>Email: support@biteandbloom.com</p>
                <span><a href="">BOOK A TABLE</a></span>
            </div>
            <div class="contact-page-box box2">
                <i class="location-icon fa-solid fa-map-location"></i>
                <h1>Register Office</h1>
                <P>398 Ramkrishnapur Road,Kolkata 700124</P>
            </div>
            <div class="contact-page-box box3">
                <h1>Opening Hours</h1>
                <h5>Monday - Friday 7:30AM - 10:00PM <br>
                Saturday - Sunday 7:30AM - 11:00PM</h5>
            </div>
        </div>

        <div class="container2">
            <div class="contact-form">
                <h1>Feel Free To Contact With Us</h1>
                <input type="text" name="user-name" id="user-name" placeholder="Name"><br>
                <input type="email" name="user-email" id="user-email" placeholder="Email"><br>
                <input type="text" name="user-mbile-no" id="user-mobile-no" placeholder="Phone"><br>
                <input type="text" name="user-address" id="user-address" placeholder="Address"><br>
                <textarea name="user-mesage" id="user-message"placeholder="Message" rows="5"></textarea><br>
                <input type="submit" value="SEND MESSAGE" class="send-message-btn">
            </div>

            <div class="map-location">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3680.0918680175146!2d88.47636767476155!3d22.724826527374894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f8998451b42915%3A0x417bdd8506351994!2sBarasat%20mesh%20%2C(%20Rakesh%20dar%20mesh%20pg%20)!5e0!3m2!1sen!2sin!4v1724993709506!5m2!1sen!2sin" width="550" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

        <div class="orderNow-needHelp">
            <div class="sub-container">
                <div class="left-box-odernow">
                    <div class="call icon"><i class="fa-solid fa-phone"></i></div>
                    <div class="content">
                    <h6>ORDER NOW</h6>
                    <span>+91 12345 67891 > </span></div>
                </div>

                <div class="right-box-needhelp">
                    <div class="mail icon"><i class="fa-solid fa-envelope"></i></div>
                    <div class="content">
                    <h6>NEED SUPPORT</h6>
                    <a href="contact.html"><span> Ready To Help > </span></a></div>
                </div>
            </div>
        </div>
    </main>
    <!-- Main Section end -->

    
    <!-- Footer Section Strat -->
    <footer>
        <div class="footer-content">
            <div class="social-icons">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
                <a href=""><i class="fa-brands fa-google-plus"></i></a>
            </div>
            <div class="footer-items">
                <div class="item1">
                    <h2>Bite and Bloom </h2>
                    <p class="mb-6">Where Taste Meets Tradition</p> 
                </div>
                <div class="item2">
                    <h3>Quick Links</h3>
                    <nav>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="menu.html">Menu</i></a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="review.html">Review</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                    </nav>
                </div>
                <div class="item3">
                    <h3>Get in Touch</h3>
                    <i class="fa-solid fa-phone"><pre>  +1-234-567-8901</pre></i><br>
                    <i class="fa-solid fa-envelope"><pre>  support@biteandbloom.com</pre></i><br>
                    <h3>Visit Us</h3>
                    <i class="fa-solid fa-location-dot"><p> 398,Ramkrishnapur Road, Barasat, North 24 Parganas, Kolkata - 700124</p></i>
                </div>
                <div class="item4">
                    <h3>Opening</h3>
                    <h4>Monday - Friday <br>
                    7:30AM - 10:00PM <br><br>
                    Saturday - Sunday <br>
                    7:30AM - 11:00PM
                    </h4>
                </div>
                <div class="item5">
                    <h3>Newsletter</h3>
                    <p>Join our newsletter and be the first to know about special offers, new dishes, and latest news from Bite and Bloom and members-only offers.</p>
                    <div class="newsletter-input">
                    <input type="email" id="newsletter-email" name="newsletteremail" placeholder="Your email">
                    <input type="submit" name="Join">
                    </div>

                </div>
            </div>
        </div>
        <div class="orange-section">
            <div class="left">
                <i class="fa-regular fa-copyright"><p>  2024 Bite and Blom.All rights reserved </p><h2>Designed by: </h2> <p>Arpan Samanta</p></i>
            </div>
            <div class="right">
                <h3>We Accept</h3>
                <img src="../static/Images/Visa-Logo.png" alt="">
                <img src="../static/Images/Mastercard-Logo.png" alt="">
                <img src="../static/Images/Rupay-Logo.png" alt="">
            </div>
        </div>
    </footer>
    <!--  Footer Section End -->

</body>
</html> 