<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Bite & Bloom</title>
    <link rel="stylesheet" href="../static/home.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    
    <!-- Customized Bootstrap Stylesheet -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Header Section -->
    <header>
        <img src="../static/Images/logo.png" class="logo">

        <nav class="navbar">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="menu.html">Menu</i></a></li>
            <li><a href="review.html">Review</a></li>
            <li><a href="contact.html">Contact</a></li>
        </nav>
    </header>
    <!-- Header Section end-->


    <!-- Main section -->
    <main class="main_home_page">
        <!-- Video section -->
        <section class="col_flex">
            <video autoplay loop muted class="homepage_video">
                <source src="../static/Videos/homepage video.mp4" type="video/mp4" />
            </video>
            <h1 class="video_text" id="blinkingText">WELCOME BACK TO <span>Bite & Bloom</span> | ENJOY OUR DELICIOUS MEAL.</h1>
        </section>
        <!-- Video section end-->

        <!-- Magical atmosphere, Best food, Fair price, 5 star service -->
        <section id="box-row-flex">
            <div class="box-row-flex">
            
                <div class="box">
                    <img class="cover-image" src="../static/Images/hp-1.webp" alt="">
                    <div class="content">
                        <img class="logo-image" src="../static/Images/logo-1.png" alt="">
                        <h1>Magical <br> <span>Atmosphere</span></h1>
                        <p>Our inviting ambiance, soft lighting, and cozy décor create a dining experience that feels like a delightful escape and spellbinding experience.</p>
                    </div>
                </div>
        
                <div class="box">
                    <img class="cover-image" src="../static/Images/hp-2.jpg" alt="">
                    <div class="content">
                        <img class="logo-image" src="../static/Images/logo-2.png" alt="">
                        <h1>Best Food <br> <span>Quality</span></h1>
                        <p>Our commitment to sourcing the freshest ingredients guarantees that every meal is a masterpiece of flavor and nutrition.</p>
                    </div>
                </div>
        
                <div class="box">
                    <img class="cover-image" src="../static/Images/hp-3.jpg" alt="">
                    <div class="content">
                        <img class="logo-image" src="../static/Images/logo-3.png" alt="">
                        <h1>Fair Price <br> <span>Food</span></h1>
                        <p>Enjoy lxury dining, fair prices - perfect for a family-friendly dining experience everyone will love."Five-star flavors without the five-star price tag."</p>
                    </div>
                </div>

                <div class="box">
                    <img class="cover-image" src="../static/Images/hp-4.avif" alt="">
                    <div class="content">
                        <img class="logo-image" src="../static/Images/logo-4.png" alt="">
                        <h1>5 Star <br> <span>Services</span></h1>
                        <p>Experience our 5-star service where every guest feels like royalty. At Bite and Bloom, service isn’t just our standard; it’s our promise to you and your loved ones.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Magical atmosphere, Best food, Fair price, 5 star service  End-->
        <div class="home-container3">
            <section class="home-section-ourmenu">
                <img class="mySlides" src="../static/Images/home-ourmenu-p1.jpg">
                <img class="mySlides" src="../static/Images/home-ourmenu-p2.jpg">
                <img class="mySlides" src="../static/Images/home-ourmenu-p3.jpg">
                <img class="mySlides" src="../static/Images/home-ourmenu-p4.jpg">
                <a href="menu.html">OUR MENU</a>
            </section>
        </div>
        <div class="home-about-container">
            <div class="home-leftBox-ourStory">
                <h1>Our Story</h1>
                <hr class="horizontal-line">
                <p>Our journey started around our own family table, where countless meals were shared, and countless memories were made. We realized that good food has the power to bring people together, to create connections, and to nourish both body and soul. It was this realization that sparked the idea for Bite and Bloom – a family restaurant dedicated to serving meals that are as affordable as they are delightful.</p>
                <a href="about.html">Read About Us</a>
            </div>
            <div class="home-rightBox-image">
                <img src="../static/Images/man2.jpeg">
            </div>
        </div>
        
        <!-- Review Section Start-->
        <div class="home-review-container">
            <h1>What Our <span>Clients Say</span></h1>
            <div class="review-box-container">
            <div class="review-box">
                <div class="upper-sction"></div>
                <img src="../static/Images/review-customer-p1.jpg">
                <h3>Rohan</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum sed nesciunt incidunt dignissimos sapiente unde officiis libero. Quasi commodi quos impedit praesentium dolores harum quas!</p>
            </div>
            <div class="review-box">
                <div class="upper-sction"></div>
                <img src="../static/Images/review-customer-p1.jpg">
                <h3>Kabir</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum sed nesciunt incidunt dignissimos sapiente unde officiis libero. Quasi commodi quos impedit praesentium dolores harum quas!</p>

            </div>
            <div class="review-box">
                <div class="upper-sction"></div>
                <img src="../static/Images/review-customer-p1.jpg">
                <h3>Ishaan</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum sed nesciunt incidunt dignissimos sapiente unde officiis libero. Quasi commodi quos impedit praesentium dolores harum quas!</p>

            </div>
            <div class="review-box">
                <div class="upper-sction"></div>
                <img src="../static/Images/review-customer-p1.jpg">
                <h3>Arjun</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum sed nesciunt incidunt dignissimos sapiente unde officiis libero. Quasi commodi quos impedit praesentium dolores harum quas!</p>

            </div>
            </div>
            <a href="review.html"><input type="submit" value="Read More" class="read-more-btn"></a>
        </div>
        <!-- Review Section end-->

        <div class="table-booking-container">
            <div class="table-booking-header">
                <h1>Make a <span>Reservation</span></h1>
            </div>
            <div class="table-booking-section">
                <div class="left-box-image">
                    <img src="../static/Images/booking-table-p1.jpg">
                </div>
                <div class="right-box-form">
                    <h1>Booking a table online is easy</h1>
                    <input type="date" name="booking-date">
                    <input type="text" name="customer-name" placeholder="Name">
                    <input type="number" name="customer-no-person" placeholder="Number of person">
                    <select name="branch-name" id="branch-name">
                        <option value="none">Branches</option>
                        <option value="barasat">Barasat</option>
                        <option value="chinar-park">Chinar Park</option>
                        <option value="new-town">New Town</option>
                        <option value="park-circus">Park Circus</option>
                    </select>
                    <input type="email" name="customer-email" placeholder="Email">
                    <input type="text" name="customer-contact-number" placeholder="Contact Number">
                    <input type="text" name="customer-message" placeholder="Message">
                    <input type="submit" value="RESERVE YOUR TABLE NOW" class="reserve-table-btn">
                </div>
            </div>
        </div>

    </main>
    <!-- Main section end -->

    <!-- Footer Section Strat -->
    <footer>
        <div class="footer-content">
            <div class="social-icons">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
                <a href=""><i class="fa-brands fa-google-plus"></i></a>
            </div>
            <div class="footer-items">
                <div class="item1">
                    <h2>Bite and Bloom </h2>
                    <p class="mb-6">Where Taste Meets Tradition</p> 
                </div>
                <div class="item2">
                    <h3>Quick Links</h3>
                    <nav>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="menu.html">Menu</i></a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="review.html">Review</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                    </nav>
                </div>
                <div class="item3">
                    <h3>Get in Touch</h3>
                    <i class="fa-solid fa-phone"><pre>  +1-234-567-8901</pre></i><br>
                    <i class="fa-solid fa-envelope"><pre>  support@biteandbloom.com</pre></i><br>
                    <h3>Visit Us</h3>
                    <i class="fa-solid fa-location-dot"><p> 398,Ramkrishnapur Road, Barasat, North 24 Parganas, Kolkata - 700124</p></i>
                </div>
                <div class="item4">
                    <h3>Opening</h3>
                    <h4>Monday - Friday <br>
                    7:30AM - 10:00PM <br><br>
                    Saturday - Sunday <br>
                    7:30AM - 11:00PM
                    </h4>
                </div>
                <div class="item5">
                    <h3>Newsletter</h3>
                    <p>Join our newsletter and be the first to know about special offers, new dishes, and latest news from Bite and Bloom and members-only offers.</p>
                    <div class="newsletter-input">
                    <input type="email" id="newsletter-email" name="newsletteremail" placeholder="Your email">
                    <input type="submit" name="Join">
                    </div>

                </div>
            </div>
        </div>
        <div class="orange-section">
            <div class="left">
                <i class="fa-regular fa-copyright"><p>  2024 Bite and Blom.All rights reserved </p><h2>Designed by: </h2> <p>Arpan Samanta</p></i>
            </div>
            <div class="right">
                <h3>We Accept</h3>
                <img src="../static/Images/Visa-Logo.png" alt="">
                <img src="../static/Images/Mastercard-Logo.png" alt="">
                <img src="../static/Images/Rupay-Logo.png" alt="">
            </div>
        </div>
    </footer>
    <!--  Footer Section End -->

    <script src="../static/home.js"></script>
</body>
</html>