<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu - Bite & Bloom</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Link CSS File -->
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="../static/menu.css">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    

</head>
<body>
    <!-- Header Section -->
    <header>
        <img src="../static/Images/logo.png" class="logo">

        <nav class="navbar">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="menu.html">Menu</i></a></li>
            <li><a href="review.html">Review</a></li>
            <li><a href="contact.html">Contact</a></li>
        </nav>
    </header>
    <!-- Header Section end-->

    <!-- Menu start -->
    <div class="py-5">
        <div class="container">
            <div class="text-center">
                <h5 class="text-primary food-menu">Food Menu</h5>
                <h1 class="mb-5 popular-item">Most Popular Items</h1> 
                <!-- menu navbar item -->
                <ul class="nav nav-pills d-inline-flex mb-5">
                    <li class="nav-item">
                        <a class="d-flex pb-3 active first" data-bs-toggle="pill" href="#tab-1">
                            <i class="fa fa-coffee fa-2x text-primary"></i>
                            <div class="ps-3">
                                <h3><span>Popular</span></h3>
                                <h6 class="mt-n1 mb-0">Breakfast</h6>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="d-flex align-items-center text-start mx-4 me-0 pb-3" data-bs-toggle="pill" href="#tab-2">
                            <i class="fa fa-hamburger fa-2x text-primary"></i>
                            <div class="ps-3">
                                <h3><span>Special</span></h3>
                                <h6 class="mt-n1 mb-0">Launch</h6>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="d-flex align-items-center text-start me-0 pb-3" data-bs-toggle="pill" href="#tab-3">
                            <i class="fa fa-utensils fa-2x text-primary"></i>
                            <div class="ps-3">
                                <h3><span>Lovely</span></h3>
                                <h6 class="mt-n1 mb-0">Dinner</h6>
                            </div>
                        </a>
                    </li>
                </ul>
                
            </div>
            <div class="tab-content groove-border">
                <div id="tab-1" class="tab-pane fade show active">
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img src="../static/Images/menu-1.jpg" alt="" style="width: 80px;">
                                <div class="w-100 text-start ps-4 items">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Idli with Sambar and Chutney</span>
                                        <span class="text-primary">&#8377; 50 - 70</span>
                                    </h5>
                                    <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img src="../static/Images/menu-2.jpg" alt="" style="width: 80px;">
                                <div class="w-100 text-start ps-4 items">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Masala Dosa</span>
                                        <span class="text-primary">&#8377; 80 - 120</span>
                                    </h5>
                                    <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img src="../static/Images/menu-3.jpg" alt="" style="width: 80px;">
                                <div class="w-100 text-start ps-4 items">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Poha</span>
                                        <span class="text-primary">&#8377; 40 - 60</span>
                                    </h5>
                                    <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img src="../static/Images/menu-4.jpg" alt="" style="width: 80px;">
                                <div class="w-100 text-start ps-4 items">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Aloo Paratha with Curd</span>
                                        <span class="text-primary">&#8377; 70 - 100</span>
                                    </h5>
                                    <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img src="../static/Images/menu-5.jpg" alt="" style="width: 80px;">
                                <div class="w-100 text-start ps-4 items">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Puri Bhaji</span>
                                        <span class="text-primary">&#8377; 60 - 90</span>
                                    </h5>
                                    <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img src="../static/Images/menu-6.jpg" alt="" style="width: 80px;">
                                <div class="w-100 text-start ps-4 items">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Chole Bhature</span>
                                        <span class="text-primary">&#8377; 90 - 130</span>
                                    </h5>
                                    <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img src="../static/Images/menu-8.jpg" alt="" style="width: 80px;">
                                <div class="w-100 text-start ps-4 items">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Vada Pav</span>
                                        <span class="text-primary">&#8377; 30 - 50</span>
                                    </h5>
                                    <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img src="../static/Images/menu-8.jpg" alt="" style="width: 80px;">
                                <div class="w-100 text-start ps-4 items">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Sabudana Khichdi</span>
                                        <span class="text-primary">&#8377; 60 - 90</span>
                                    </h5>
                                    <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-2" class="tab-pane fade show">
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img src="../static/Images/menu-1.jpg" alt="" style="width: 80px;">
                                <div class="w-100 text-start ps-4 items">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Chicken Biriyani</span>
                                        <span class="text-primary">&#8377; 200 - 280</span>
                                    </h5>
                                    <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img src="../static/Images/menu-2.jpg" alt="" style="width: 80px;">
                                <div class="w-100 text-start ps-4 items">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Butter Chicken</span>
                                        <span class="text-primary">&#8377; 220 - 300</span>
                                    </h5>
                                    <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img src="../static/Images/menu-3.jpg" alt="" style="width: 80px;">
                                <div class="w-100 text-start ps-4 items">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Mutton Rogan Josh</span>
                                        <span class="text-primary">&#8377; 280 - 350</span>
                                    </h5>
                                    <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img src="../static/Images/menu-4.jpg" alt="" style="width: 80px;">
                                <div class="w-100 text-start ps-4 items">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Fish Curry</span>
                                        <span class="text-primary">&#8377; 200 - 260</span>
                                    </h5>
                                    <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img  src="../static/Images/menu-5.jpg" alt="" style="width: 80px;">
                                <div class="w-100 text-start ps-4 items">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Chicken Tikka Masala</span>
                                        <span class="text-primary">&#8377; 220 - 300</span>
                                    </h5>
                                    <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img src="../static/Images/menu-6.jpg" alt="" style="width: 80px;">
                                <div class="w-100 text-start ps-4 items">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Egg Curry</span>
                                        <span class="text-primary">&#8377; 120 - 160</span>
                                    </h5>
                                    <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img src="../static/Images/menu-7.jpg" alt="" style="width: 80px;">
                                <div class="w-100 text-start ps-4 items">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Prawn Masala</span>
                                        <span class="text-primary">&#8377; 250 - 320</span>
                                    </h5>
                                    <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img src="../static/Images/menu-8.jpg" alt="" style="width: 80px;">
                                <div class="w-100 text-start ps-4 items">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Plain Naan/Roti</span>
                                        <span class="text-primary">&#8377; 20 - 40</span>
                                    </h5>
                                    <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-3" class="tab-pane fade show">
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img src="../static/Images/menu-1.jpg" alt="" style="width: 80px;">
                                <div class="w-100 text-start ps-4 items">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Chicken Malai Kebab</span>
                                        <span class="text-primary">&#8377; 250 - 320</span>
                                    </h5>
                                    <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img src="../static/Images/menu-2.jpg" alt="" style="width: 80px;">
                                <div class="w-100 text-start ps-4 items">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Mutton Seekh kebab</span>
                                        <span class="text-primary">&#8377; 300 - 380</span>
                                    </h5>
                                    <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img src="../static/Images/menu-3.jpg" alt="" style="width: 80px;">
                                <div class="w-100 text-start ps-4 items">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Shahi Paneer</span>
                                        <span class="text-primary">&#8377; 220 - 300</span>
                                    </h5>
                                    <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img src="../static/Images/menu-4.jpg" alt="" style="width: 80px;">
                                <div class="w-100 text-start ps-4 items">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Malai Kofta</span>
                                        <span class="text-primary">&#8377; 200 - 280</span>
                                    </h5>
                                    <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img src="../static/Images/menu-5.jpg" alt="" style="width: 80px;">
                                <div class="w-100 text-start ps-4 items">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Kashmiri Pulao</span>
                                        <span class="text-primary">&#8377; 180 - 240</span>
                                    </h5>
                                    <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img src="../static/Images/menu-6.jpg" alt="" style="width: 80px;">
                                <div class="w-100 text-start ps-4 items">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Lachha Paratha</span>
                                        <span class="text-primary">&#8377; 40 - 60</span>
                                    </h5>
                                    <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img src="../static/Images/menu-7.jpg" alt="" style="width: 80px;">
                                <div class="w-100 text-start ps-4 items">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Dal Makhani</span>
                                        <span class="text-primary">&#8377; 160 - 220</span>
                                    </h5>
                                    <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img src="../static/Images/menu-8.jpg" alt="" style="width: 80px;">
                                <div class="w-100 text-start ps-4 items">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Kachumber salad</span>
                                        <span class="text-primary">&#8377; 50 - 70</span>
                                    </h5>
                                    <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Menu end -->

    <!-- Footer Section Strat -->
    <footer>
        <div class="footer-content">
            <div class="social-icons">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
                <a href=""><i class="fa-brands fa-google-plus"></i></a>
            </div>
            <div class="footer-items">
                <div class="item1">
                    <h2>Bite and Bloom </h2>
                    <p class="mb-6">Where Taste Meets Tradition</p> 
                </div>
                <div class="item2">
                    <h3>Quick Links</h3>
                    <nav>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="menu.html">Menu</i></a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="review.html">Review</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                    </nav>
                </div>
                <div class="item3">
                    <h3>Get in Touch</h3>
                    <i class="fa-solid fa-phone"><pre>  +1-234-567-8901</pre></i><br>
                    <i class="fa-solid fa-envelope"><pre>  support@biteandbloom.com</pre></i><br>
                    <h3>Visit Us</h3>
                    <i class="fa-solid fa-location-dot"><p> 398,Ramkrishnapur Road, Barasat, North 24 Parganas, Kolkata - 700124</p></i>
                </div>
                <div class="item4">
                    <h3>Opening</h3>
                    <h4>Monday - Friday <br>
                    7:30AM - 10:00PM <br><br>
                    Saturday - Sunday <br>
                    7:30AM - 11:00PM
                    </h4>
                </div>
                <div class="item5">
                    <h3>Newsletter</h3>
                    <p>Join our newsletter and be the first to know about special offers, new dishes, and latest news from Bite and Bloom and members-only offers.</p>
                    <div class="newsletter-input">
                    <input type="email" id="newsletter-email" name="newsletteremail" placeholder="Your email">
                    <input type="submit" name="Join">
                    </div>

                </div>
            </div>
        </div>
        <div class="orange-section">
            <div class="left">
                <i class="fa-regular fa-copyright"><p>  2024 Bite and Blom.All rights reserved </p><h2>Designed by: </h2> <p>Arpan Samanta</p></i>
            </div>
            <div class="right">
                <h3>We Accept</h3>
                <img src="../static/Images/Visa-Logo.png" alt="">
                <img src="../static/Images/Mastercard-Logo.png" alt="">
                <img src="../static/Images/Rupay-Logo.png" alt="">
            </div>
        </div>
    </footer>
    <!--  Footer Section End -->


    <!-- JavaScipt Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>