<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review - Bite & Bloom</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Link CSS File -->
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="../static/review.css">
    
    <!-- Customized Bootstrap Stylesheet -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    
</head>
<body>
    <!-- Header Section -->
    <header>
        <img src="../static/Images/logo.png" class="logo">

        <nav class="navbar">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="menu.html">Menu</i></a></li>
            <li><a href="review.html">Review</a></li>
            <li><a href="contact.html">Contact</a></li>
        </nav>
    </header>
    <!-- Header Section end-->

    <!-- main Section start -->
    <main class="review-sction">
        <div class="section-name">
            <h3>COMMENTS</h3><br>
            <h1>Our <span>Clients</span> Says</h1>
        </div>
        <div class="review-content">
            <div class="box">
                <div class="top">
                <img src="../static/Images/Review-logo.png" alt="">
                <div class="stars">
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                </div></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quos, nostrum architecto accusamus non hic vel corrupti aliquid! Corrupti, et exercitationem. Deleniti incidunt adipisci dolores officiis doloribus quibusdam reprehenderit ea.</p>
            </div>
            <div class="box">
                <div class="top">
                <img src="../static/Images/Review-logo.png" alt="">
                <div class="stars">
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                </div></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quos, nostrum architecto accusamus non hic vel corrupti aliquid! Corrupti, et exercitationem. Deleniti incidunt adipisci dolores officiis doloribus quibusdam reprehenderit ea.</p>
            </div>
            <div class="box">
                <div class="top">
                <img src="../static/Images/Review-logo.png" alt="">
                <div class="stars">
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                </div></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quos, nostrum architecto accusamus non hic vel corrupti aliquid! Corrupti, et exercitationem. Deleniti incidunt adipisci dolores officiis doloribus quibusdam reprehenderit ea.</p>
            </div>
            <div class="box">
                <div class="top">
                <img src="../static/Images/Review-logo.png" alt="">
                <div class="stars">
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                </div></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quos, nostrum architecto accusamus non hic vel corrupti aliquid! Corrupti, et exercitationem. Deleniti incidunt adipisci dolores officiis doloribus quibusdam reprehenderit ea.</p>
            </div>
            <div class="box">
                <div class="top">
                <img src="../static/Images/Review-logo.png" alt="">
                <div class="stars">
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                </div></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quos, nostrum architecto accusamus non hic vel corrupti aliquid! Corrupti, et exercitationem. Deleniti incidunt adipisci dolores officiis doloribus quibusdam reprehenderit ea.</p>
            </div>
            <div class="box">
                <div class="top">
                <img src="../static/Images/Review-logo.png" alt="">
                <div class="stars">
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                </div></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quos, nostrum architecto accusamus non hic vel corrupti aliquid! Corrupti, et exercitationem. Deleniti incidunt adipisci dolores officiis doloribus quibusdam reprehenderit ea.</p>
            </div>
            <div class="box">
                <div class="top">
                <img src="../static/Images/Review-logo.png" alt="">
                <div class="stars">
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                </div></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quos, nostrum architecto accusamus non hic vel corrupti aliquid! Corrupti, et exercitationem. Deleniti incidunt adipisci dolores officiis doloribus quibusdam reprehenderit ea.</p>
            </div>
            <div class="box">
                <div class="top">
                <img src="../static/Images/Review-logo.png" alt="">
                <div class="stars">
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                </div></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quos, nostrum architecto accusamus non hic vel corrupti aliquid! Corrupti, et exercitationem. Deleniti incidunt adipisci dolores officiis doloribus quibusdam reprehenderit ea.</p>
            </div>
            <div class="box">
                <div class="top">
                <img src="../static/Images/Review-logo.png" alt="">
                <div class="stars">
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                </div></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quos, nostrum architecto accusamus non hic vel corrupti aliquid! Corrupti, et exercitationem. Deleniti incidunt adipisci dolores officiis doloribus quibusdam reprehenderit ea.</p>
            </div>
        </div>
        
    </main>
    <!-- main Section end -->

    <!-- Footer Section Strat -->
    <footer>
        <div class="footer-content">
            <div class="social-icons">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
                <a href=""><i class="fa-brands fa-google-plus"></i></a>
            </div>
            <div class="footer-items">
                <div class="item1">
                    <h2>Bite and Bloom </h2>
                    <p class="mb-6">Where Taste Meets Tradition</p> 
                </div>
                <div class="item2">
                    <h3>Quick Links</h3>
                    <nav>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="menu.html">Menu</i></a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="review.html">Review</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                    </nav>
                </div>
                <div class="item3">
                    <h3>Get in Touch</h3>
                    <i class="fa-solid fa-phone"><pre>  +1-234-567-8901</pre></i><br>
                    <i class="fa-solid fa-envelope"><pre>  support@biteandbloom.com</pre></i><br>
                    <h3>Visit Us</h3>
                    <i class="fa-solid fa-location-dot"><p> 398,Ramkrishnapur Road, Barasat, North 24 Parganas, Kolkata - 700124</p></i>
                </div>
                <div class="item4">
                    <h3>Opening</h3>
                    <h4>Monday - Friday <br>
                    7:30AM - 10:00PM <br><br>
                    Saturday - Sunday <br>
                    7:30AM - 11:00PM
                    </h4>
                </div>
                <div class="item5">
                    <h3>Newsletter</h3>
                    <p>Join our newsletter and be the first to know about special offers, new dishes, and latest news from Bite and Bloom and members-only offers.</p>
                    <div class="newsletter-input">
                    <input type="email" id="newsletter-email" name="newsletteremail" placeholder="Your email">
                    <input type="submit" name="Join">
                    </div>

                </div>
            </div>
        </div>
        <div class="orange-section">
            <div class="left">
                <i class="fa-regular fa-copyright"><p>  2024 Bite and Blom.All rights reserved </p><h2>Designed by: </h2> <p>Arpan Samanta</p></i>
            </div>
            <div class="right">
                <h3>We Accept</h3>
                <img src="../static/Images/Visa-Logo.png" alt="">
                <img src="../static/Images/Mastercard-Logo.png" alt="">
                <img src="../static/Images/Rupay-Logo.png" alt="">
            </div>
        </div>
    </footer>
    <!--  Footer Section End -->
    
</body>
</html>